.draw-it-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 48px;
  border-radius: 1em;
  font-weight: 800;
  color: rgba(0,0,0,0.6);
  padding: 0.3em 1em;
  margin: 0.25em;

  &--primary {
    background: linear-gradient(180deg, #FFE6C3 0%, #FFF3E1 0.01%, #FFE6C3 98.44%);
    border: 1px solid #FFE6C3;
  }
  &--success {
    background: var(--success-gradient);
    border: 1px solid #90ED8F;
  }
  &--neutral {
    background: transparent;
    border: 1px solid transparent;
  }
}