.drawItTeamForm {
  flex: 1;
  width: 100%;
  background-color: #EDEEEF;
  border-radius: 35px;
  padding: 1em 2em 1em;
  margin-bottom: 1em;

  &__field_container {
    width: 100%;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: stretch;
    align-items: center;
    span {
      margin-top: 0.95em;
      width: 25px;
    }
  }
  &__field {
    flex: 1;
  }
}