@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&Roboto:300,400,500,700&Material+Icons&display=swap');

:root {
  --otter-color: #E5D0FA;
  --otter-gradient: linear-gradient(90deg, #ECBDFD 0%, #E5D0FA 92.64%);

  --panda-color: #9AC1C1;
  --panda-gradient: linear-gradient(90deg, #9AC1C1 0%, #BAE8EB 92.64%);

  --accent-color: #FFE6C3;
  --accent-gradient: linear-gradient(180deg, #FFE6C3 0%, #FFF3E1 0.01%, #FFE6C3 98.44%);

  --accent-2-color:#FDBDBD;
  --accent-2-gradient: linear-gradient(90deg, #FDBDBD 0%, #FAD0D0 92.64%);

  --success-color: #90ED8F;
  --success-gradient: linear-gradient(180deg, #90ED8F 0%, #D5F5D5 0.01%, #90ED8F 98.44%);
}

body {
  font-family: 'Dosis', sans-serif, monospace;
   margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 { font-size: 1.5em }
h2 { font-size: 1.2em; font-weight: 600 }

